RAILS_ENV=production
RAILS_SERVE_STATIC_FILES=true
RAILS_LOG_TO_STDOUT=true
CANONICAL_HOST=localhost
CONTACT_EMAIL=Example Name <example@example.com>
FROM_EMAIL=Example Name <example@example.com>
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=