<section id="welcome-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t :party_name %></h1>
    <p class="leader-date">
      <%= t :party_date %>, <%= t :party_location %>
    </p>
    <p>
      <%= link_to 'RSVP TODAY!', new_guest_path, class: 'btn btn-primary wedding-cta-btn' %>
    </p>
  </div>
</section>
